

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.featured{
    display: flex;
    gap: 0.1em;
    padding-left: 8em;
}

.featured h3{
    color: #020202;
    font-size: 35px;
    text-transform: capitalize;
    padding-top: 0.5em;
}
/* styling the featured recipes here */
.food_menu{
    width: 400px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    /* border-bottom-left-radius: 8px; */
    /* border-bottom-right-radius: 8px; */
    height: 200px;
}  



.card2{
    /* border: 1px solid #6E6E6E; */
    border: 1px solid #D4D4D4;
    border-top: none;
    height: 120px;
    position: relative;
    bottom: 5px;
    width: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* styling the text on the feature section */

.recipe_container{
    display: flex;
     width: 100%;
     justify-content: center;
     gap: 3em;

}
.love{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    /* line-height: 3em; */
}
  .love2{
    display: flex;
    justify-content: space-between;
    padding-top: 0.1em;
    padding-left: 2em;
    padding-right: 2em;
    }

.love p{
    color: #020202;
    font-size: 20px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.heart{
    color: #058B42;
    cursor: pointer;

}
.love2 .para{
    color: #058B42;
    font-size: 20px;

}

.para .grey{
    color: #6E6E6E;
}

.f_section{
    margin-top: 3em;
}