

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container_header{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 4em;
    padding-bottom: 2em;
    border-bottom: 1px solid #D4D4D4;
}

.container_header ul{
    display: flex;
    list-style: none;
    text-transform: capitalize;
    font-size: 25px;
    gap: 2em;
    color: #3A3A3C;
    cursor: pointer;
    padding-top: 1em;

}
.conc{
    text-decoration: none;
    color: #3A3A3C;
}

.container_auth{
    display: flex;
    gap: 3em;
    cursor: pointer;
}
.container_auth p{
    font-size: 25px;
    color: #3A3A3C;
    text-transform: capitalize;
    padding-top: 1em;
}
.container_auth button{
    width: 180px;
    background: #058B42;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 20px;
    border: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;


}

/* started styling the auth image from this port */
.container_image{
    width:500px;
    height:640px;
    padding-left:3em;
}

.drop{
    height: 35%;
    width: 0;
    position: absolute;
    z-index: 1;
    background: #f4f4f4;
    transition: 0.5s;
    top: 10;
    left: 35em;
    padding-top: 3em;
    text-align: center;
    display: none;
}


.drop a{
    text-decoration: none;
    color: #020202;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 2em;

}
.drop :hover{
    background: #aaa;
    color: #020202;
    transition: 0.5s;
}
.drop li{
    list-style: none;
}

.drop .open_btn{
    position: absolute;
    right: 22px;
    left: 5em;
    font-size: 36px;
    top: 0;
    cursor: pointer;
}


input{
  border-radius:8px;
    width:500px;
    height:40px;
    border:none;
    border:1px solid #6E6E6E;
    padding-left:2em;
    font-size:20px;
    outline:none;
}

.container_input{
    padding-bottom:1em;
}

.container_form{
    display:flex;
    justify-content:space-around;
}

.container_form h3{
    text-align: center;
    padding-top:2em;
    color:#020202;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    padding-bottom: 1em;
}

.container_border{
    width:600px;
    /* height:800px; */
    /* border:1px solid #acad; */
    margin-top:2em;
    padding-right:2em;
    border-radius:5px;
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4); */
}

.userAccount{
    margin-left:15em;
    width:60px;
    height:60px;
    border-radius:60px;
    background:#acad;
    text-align:center;
    padding-bottom:0.5em;
    margin-top:2em;
}


/* styling the mail icon  */
.mailIcon,
.lock{
    position:relative;
    top:1px;
    left:2em;
    color:#6E6E6E;
}

::placeholder{
    color:#6E6E6E;
    text-transform:capitalize;
    font-size:20px;
}

.password{
    margin-left: 0.1em;
}

.more{
    text-align:center;
    margin-left: 1em;
    margin-top: 2em;
    background:#058B42;
    cursor:pointer;
    color:#FFFFFF;
    font-size:20px;
}

/* grey or order */

.border{
    display:flex;
    justify-content:center;
    padding-top:2em;
}

.grey_border{
    border-bottom: 1px solid #3A3A3C;
    width: 100px;
}

.border p{
    position:relative;
    top:0.5em;
    left:1em;
    padding-right:2em;
    color:#3A3A3C
}

.container_media{
    width:50px;
    height:40px;
    color:#FFFFFF;
    border:1px solid #D4D4D4;
    padding-left: 1em;
    padding-top: 0.5em;
    border-radius: 5px;
    margin-bottom: 1em;
    cursor:pointer;
}

.media{
    display:flex;
    justify-content: center;
    margin: 3em;
    gap:2em;
    border-bottom: 0.5px solid #6E6E6E;
    
}

span{
font-family: Work Sans;
font-size: 23.04px;
font-weight: 500;
color: #3A3A3C;
padding-left: 4em;


}
 .ddd{
    text-decoration: none;
    color: #058B42;
}