

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container_header{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 4em;
    padding-bottom: 2em;
    border-bottom: 1px solid #D4D4D4;
}

.container_header ul{
    display: flex;
    list-style: none;
    text-transform: capitalize;
    font-size: 25px;
    gap: 2em;
    color: #3A3A3C;
    cursor: pointer;
    padding-top: 1em;

}
.conc{
    text-decoration: none;
    color: #3A3A3C;
}

.container_auth{
    display: flex;
    gap: 3em;
    cursor: pointer;
}
.container_auth p{
    font-size: 25px;
    color: #3A3A3C;
    text-transform: capitalize;
    padding-top: 1em;
}
.container_auth button{
    width: 180px;
    background: #058B42;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 20px;
    border: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;


}

/* started styling the auth image from this port */
.container_image{
    width:500px;
    height:640px;
    padding-left:3em;
}

.drop{
    height: 35%;
    width: 0;
    position: absolute;
    z-index: 1;
    background: #f4f4f4;
    transition: 0.5s;
    top: 10;
    left: 35em;
    padding-top: 3em;
    text-align: center;
    display: none;
}


.drop a{
    text-decoration: none;
    color: #020202;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 2em;

}
.drop :hover{
    background: #aaa;
    color: #020202;
    transition: 0.5s;
}
.drop li{
    list-style: none;
}

.drop .open_btn{
    position: absolute;
    right: 22px;
    left: 5em;
    font-size: 36px;
    top: 0;
    cursor: pointer;
}

 .container_input{
    display:flex;
    /* width:200px; */
    margin-bottom:4em;
    margin-left:3em;
    margin-top:5em;

} 
input{
    flex:0.9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:100px;
    height:50px;
    border:none;
    border:1px solid #6E6E6E;
    padding-left:2em;
    font-size:20px;
    outline:none;
}
.btn_btn{
    width:80px;
    border: none;
    height:50px;
    cursor:pointer;
    color:blue;
    font-size:30px;
    border:1px solid #aaa;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    background:#ddd;
}
input::placeholder{
    color:#ff0000;
    text-transform:capitalize;
    opacity:0.3;
}

.container_form{
    display:flex;
    justify-content:space-around;
}

.container_form h3{
    text-align: center;
    padding-top:2em;
    text-transform:capitalize;
    color:#acad;
}

.container_border{
    width:600px;
    height:500px;
    border:1px solid #acad;
    margin-top:2em;
    padding-right:2em;
    border-radius:5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.userAccount{
    margin-left:15em;
    width:60px;
    height:60px;
    border-radius:60px;
    background:#acad;
    text-align:center;
    padding-bottom:0.5em;
    margin-top:2em;
}