

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.sug_icons h2{
    font-size: 50px;
    color: #020202;

}
.sug_icons{
    display: flex;
    justify-content: space-between;
    padding-left: 8em;
    padding-right: 8em;
    position: relative;
    top: 5em;
}

/* styling the onion after suggestions */
.Onion{
    top: 10em;
    position: relative;
}

.container_images .food{
    width: 400px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 200px;

}
.container_images{
    display: flex;
     width: 100%;
     justify-content: center;
     gap: 3em;

}


.container_images h4{
    position: relative;
    bottom: 50px;
    left: 25px;
    text-transform: capitalize;
    color: #ddd;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom_border{
    border: 0.05px solid #ADADAD;
    width: 84%;
    margin-top: 2em;
    margin-left: 8em;
}